header {
    padding: 2em;
    margin-top: 1em;
    text-align: center;
    h1 {
        font-size: 3em;
        margin-bottom: 1em;
    }
    .btn_project {
        display: inline-block;
        margin-right: .5em;
    }
}

.content {
    padding: 0 1em;
    p, ul li {
        font-size: 1.1em;
        line-height: 26px;
    }
    ul li {
        margin-bottom: .5em;
        strong {
            text-transform: uppercase;
        }
    }
    h2 {
        font-size: 1.8em;
        line-height: 2em;
        margin-top: 1em;
    }

    img {
        width: 50%;
        height: 100%;
        float: left;
        margin-right: 2em;
        object-fit: cover;
    }
}

@media screen and (max-width: 1000px) {
    .content {
        img {
            width: 100%;
            margin: 0;
        }
    }
}