@import "../styles/vars.scss";

.card {
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.06);

    max-width: 700px;
    margin: auto;
    margin-bottom: 2em;

    padding: 1em;

    h2 {
        color: $brown;
        font-size: 1.5em;
    }

    p {
        margin-top: .5em;
        color: $text;
    }

    ul {
        margin: .8em 0 .2em;
        font-size: .8em;

        li {
            margin: 2px 4px 2px 0;
            padding: .3em .5em;
            display: inline-block;
            border-radius: 4px;
            background-color: rgba($tan, .4);
            color: $black;
            box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.06);
        }
    }
}