@import "../styles/vars.scss";

.navbar {

    display: flex;
    justify-content: space-between;
    padding-top: 2.5em;

    ul { 
        margin: 0;
        li, li a svg {
            display: inline;
        }
        li a, li a svg {
            font-weight: 700;
            font-size: 125%;
            color: $red;
        }
        li a:hover {
            text-decoration: underline;
        }

        &:first-child {
            a, a svg {
                padding-left: 0;
            }
        }
    }
}

.social {
    padding-right: .3em;
    padding-left: 0;
}

@media screen and (max-width: 450px) {
    .navbar {
        justify-content: center;
        .links li:last-of-type {
            a {
                padding-right: 0;
            }
        } 
    }
    .rede {
        display: none;
    }


}